@media  screen {
    html {
        font-size: 1.4rem
    }
    body 
    .codeblock_name {
        background-color: lightgreen;
        padding: 4pt;
        display: block;
        margin: 0pt;
        font-family: monospace;
        font-size: 80%
    }
    div.codeblock{
        margin-bottom: 50pt
    }
    pre {
        background-color: papayawhip;
        margin-top: 0;
        margin-bottom:0;
        padding: 4pt;
        font-size: 80%;
        width: 
    }
    p code, li code {
        background-color: papayawhip;
        padding: 4pt;
        font-size: 80%
    }
    body {
        width: 40em;
        margin: auto;
        background-color: snow
    }
    span.seealso {
        display: block;
        font-size: 60%;
        font-family: monospace;
        background-color: gold;
        padding: 2pt;
        margin: 0pt;
    }
    span.usedin {
        display: block;
        font-size: 60%;
        font-family: monospace;
        background-color: gold;
        padding: 2pt;
        margin: 0pt;
    }
    .codeblock a {
        text-decoration: none
    }
    code.chunk_ref {
        background-color: peachpuff;
        padding: 2pt
    }
}
li.dict_letter li { 
    font-family: monospace;
    font-size: 80%
}
li a {
    text-decoration: none;
}
